<script src="https://unpkg.com/jquery"></script>
<script src="https://surveyjs.azureedge.net/1.0.63/survey.jquery.min.js"></script>

{% extends 'layouts/main.html' %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Sign Up</h1>

</div>
	The application period for Fall 2019 Language Exchanges is now closed!  

	<p>

	Our sign-up period was necessarily short due to limited amount of supervisors available for partnerships and enthusiastic student response! Students who were able to sign up for an Exchange during the open period, and who have verified placements, will hear whether or not they received a match for Fall within the next few weeks. Students who are not matched (due to absence of an appropriate partner or supervisor) but who signed up during the open period, will be prioritized for matches during the next sign-up period, for Spring 2020 matches, which will happen in mid-November.
</div>

{% endblock %}