{% extends 'layouts/main.html' %}
{% block title %}Students{% endblock %}
{% block content %}

<head>
  <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
  <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
</head>

<div class="page-header">
  <h1>Students</h1>
</div>


<body>

  <p> Click the arrows next to each column to sort pairs; click the ≡ icon to search for terms. </p>
  <p> To remove students' partners, check the boxes next to the students' records and click the 'Remove Partners' button. </p>
  <p> To delete students from the database, check the boxes next to the students' records and click the 'Delete Students' button. </p>

  <div id="myGrid" style="height:500px; width:100%;" class="ag-theme-balham"></div>

  <script type="text/javascript" charset="utf-8">
    // specify the columns
    var columnDefs = [
      {headerName: "Name", field: "name", sortable: true, filter: true, sort: 'asc', unSortIcon: true, checkboxSelection: true},
      {headerName: "Class", field: "year", sortable: true, filter: true, unSortIcon: true},
      {headerName: "RUID", field: "ruid", sortable: true, filter: true, unSortIcon: true},
      {headerName: "Sharing Languages", field: "share_langs", sortable: true, filter: true, unSortIcon: true},
      {headerName: "Learning Languages", field: "learn_langs", sortable: true, filter: true, unSortIcon: true},
      {headerName: "Partner", field: "partner", sortable: true, filter: true, unSortIcon: true},
      {headerName: "Placement", field: "placement", sortable: true, filter: true, unSortIcon: true},
    ];
    
    // specify the data
    var rowData = JSON.parse('{{rows|tojson}}');
    
    // let the grid know which columns and what data to use
    var gridOptions = {
    	defaultColDef: {
        resizable: true
      },
      columnDefs: columnDefs,
      rowData: rowData,
     onFirstDataRendered: autoSizeAll,
      rowSelection: 'multiple'
    };

  // lookup the container we want the Grid to use
  var eGridDiv = document.querySelector('#myGrid');

  // create the grid passing in the div to use together with the columns & data we want to use
  new agGrid.Grid(eGridDiv, gridOptions);

	function autoSizeAll() {
	    var allColumnIds = [];
	    gridOptions.columnApi.getAllColumns().forEach(function(column) {
	        allColumnIds.push(column.colId);
	    });
	    gridOptions.columnApi.autoSizeColumns(allColumnIds);
	}

  </script>

  <p></p>
  <p> <button onclick="removePartners()">Remove Partners</button> <button onclick="deleteStudents()">Delete Students</button> <button onclick="markCorrect()">Mark Placement As Correct</button> <button onclick="markIncorrect()">Mark Placement As Incorrect</button></p>

	  <script type="text/javascript">
	   function removePartners() {
	       var selectedNodes = gridOptions.api.getSelectedNodes(); 
	       var result = selectedNodes.map(function(node) { console.log(node.data); return node.data });
	       console.log(result);
	       names = "";
 		   result.forEach(function(obj) { names += obj.name + '\n'});

 		   userConfirm = window.confirm("Do you want to remove these students' partners? \n\n" + names);
	       if(userConfirm == true) {
	       	   var xhr = new XMLHttpRequest();
		     //  xhr.open("PUT", "http://127.0.0.1:5000/view_students"); 
		       xhr.open("PUT", "https://rutgers-language-exchange.herokuapp.com/view_students");
		       xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
		       // send the collected data as JSON
		       result.unshift({'status':'remove'});
		       xhr.send(JSON.stringify(result));
		       location.reload();
	   	   }
	   }

		   function markCorrect() {
		       var selectedNodes = gridOptions.api.getSelectedNodes(); 
		       var result = selectedNodes.map(function(node) { console.log(node.data); return node.data });
		       console.log(result);
		       names = "";
	 		   result.forEach(function(obj) { names += obj.name + '\n'});

	 		   userConfirm = window.confirm("Do you want to mark these students' placement as correct? \n\n" + names);
		       if(userConfirm == true) {
		       	   var xhr = new XMLHttpRequest();
			       //xhr.open("PUT", "http://127.0.0.1:5000/view_students"); 
			       xhr.open("PUT", "https://rutgers-language-exchange.herokuapp.com/view_students");
			       xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
			       // send the collected data as JSON
			       result.unshift({'status':'correct'});
			       xhr.send(JSON.stringify(result));
			       location.reload();
		   	   }
		}

		   function markIncorrect() {
		       var selectedNodes = gridOptions.api.getSelectedNodes(); 
		       var result = selectedNodes.map(function(node) { console.log(node.data); return node.data });
		       console.log(result);
		       names = "";
	 		   result.forEach(function(obj) { names += obj.name + '\n'});

	 		   userConfirm = window.confirm("Do you want to mark these students' placement as incorrect? \n\n" + names);
		       if(userConfirm == true) {
		       	   var xhr = new XMLHttpRequest();
			     //  xhr.open("PUT", "http://127.0.0.1:5000/view_students"); 
			       xhr.open("PUT", "https://rutgers-language-exchange.herokuapp.com/view_students");
			       xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
			       // send the collected data as JSON
			       result.unshift({'status':'incorrect'});
			       xhr.send(JSON.stringify(result));
			       location.reload();
		   	   }
		}

	   function deleteStudents() {
	       var selectedNodes = gridOptions.api.getSelectedNodes();  
	       var result = selectedNodes.map(function(node) { console.log(node.data); return node.data });
	      
	       names = "";
 		   result.forEach(function(obj) { names += obj.name + '\n'});

	       userConfirm = window.confirm('Do you want to delete these students? \n\n' + names);
	       if(userConfirm == true) {
		       var xhr = new XMLHttpRequest();
		    //  xhr.open("PUT", "http://127.0.0.1:5000/view_students"); 
		       xhr.open("PUT", "https://rutgers-language-exchange.herokuapp.com/view_students");
		       xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
		       // send the collected data as JSON
		       result.unshift({'status':'delete'});
		       xhr.send(JSON.stringify(result));
		       location.reload();
	   	   }
	   }
	  </script>

</body>

{% endblock %}
